.main-singleproduct{
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 530px) {
  .main-singleproduct{
    gap: 100px;
  }
}
.star-icon {
    color: #ffd700;
    margin-right: 5px;
  }
  .header-singleproduct{
    width: 100%;
    height: 100px;
    background-color: #F9F1E7;


  }
  @media screen and (max-width: 530px) {
    .header-singleproduct{
      max-width:100%;
    }
  }
  @media screen and (max-width: 530px) { 
    .item-image{
      width:100%;
      /* height: 400px; */

    }}
    @media screen and (max-width: 530px) { 
      .image-single{
        width: 100%;
        /* height: 170px; */

      }}
  
  .product-details {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    
  }
  /* @media screen and (max-width: 530px) {
    .product-details{
      
    }
  } */
  @media screen and (max-width: 530px) {
    .product-details2 {
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      height: fit-content;

    }
  }
  .product-details2{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    
    transition: opacity 0.20s ease #9F9F9F;
  }
  .product-details2.faded {
    opacity: 0.5 ; /* Adjust the opacity value as needed */

  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(159, 159, 159, 0.5); /* Semi-transparent brown */
    z-index: 1;
  }

  .image-single {
    width: 70%;
    height: 80%;
    max-width: 100%;



  }
  .item-image{
    width: 400px;
    height: 400px;
    background-color: #F9F1E7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
 
  }
  @media screen and (max-width: 530px) {
    .product-info {
      width: 80%;
    }
  }
  .product-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    gap: 10px;

  }
  @media screen and (max-width: 530px) {
    .product-info> h1{
      font-size: 20px;
  
    }
  }
  
  .price {
    font-size: 24px;
    color: #9F9F9F;
  }
  
  .add-to-cart {
    background-color: white;
    width: 215px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
   .quantity-selector {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-top: 10px;
  }

  
  .counter-div{
    width: 123px;
    height: 64px;
    display: flex;
    border: 1px rgb(97, 97, 97) solid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .selectorbtn {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 64px;
    cursor: pointer;
    border: none;
    background-color: white;
  }
  @media screen and (max-width: 530px) {
    .selectorbtn{
      max-width: 100%;
    }
  }
  .quantity-selector span {
    margin: 0 10px;
    align-self: center;
  }
  
  .tabs {
    width: 90%;
    display: flex;
    margin-top: 20px;
  }

  
  .tab {
    
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-right: 5px;
  }
  
  .tab.active {
    background-color: #f0f0f0;
    border-bottom: none;
  }
  
  .tab-content {
    width: 50%;
    height: fit-content;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: -1px;
  }
  @media screen and (max-width: 530px) {
    .tab-content{
      width: 400px;
    }
  }
 
  