@font-face {
  font-family: 'poppins';
  src: url(./assets/fonts/Poppins-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'poppins';
  src: url(./assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}
/* @font-face {
  font-family: 'poppins';
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
  font-weight: bolder;
} */
@font-face {
  font-family: 'poppins';
  src: url(./assets/fonts/Poppins-Light.ttf);
  font-weight: lighter;
}



html {
  width: 100%;


}
body {
  font-family: 'poppins';
  width: 100%;
  margin: 0;
}
#root {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 530px) {

  #root {
    max-width: 100%;
    height: auto;


  }

}

